##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this
#  .gitignore file, or you WILL lose data!
#
 
# OS X only:
.DS_Store
*.swp
*.Trashes
 
# All platforms:
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

Spectrum/Library/assetDatabase3

Spectrum/Library/AssetServerCacheV3

Spectrum/Library/guidmapper

Spectrum/Library/metadata/f2/f2bfc4fd283904fd7a28557c951548b3

*.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

*.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/CurrentMaximizeLayout.dwlt

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Assembly-UnityScript-vs.unityproj

*.unityproj

Spectrum/Library/metadata/f2/f2bfc4fd283904fd7a28557c951548b3

Spectrum/Library/assetDatabase3

Spectrum/Library/guidmapper

Spectrum/Library/metadata/6f/6f054da13ac964674b4de4322e1b4f1d

Spectrum/Library/assetDatabase3

Spectrum/Library/guidmapper

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb

Spectrum/Library/metadata/9b/9b5f88437b980a74aba6ea12b18240da

Spectrum/Library/metadata/d4/d4013fac6314b7c43ad1a8a4a426374d

Spectrum/Library/metadata/de/de44fd37f16664b1fbea4b1ccfd2430e

Spectrum/Library/metadata/fd/fdca238d1e898bf468ec9bf18b84f7c4

*.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll

Spectrum/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
